    <pre style="background-color: transparent;">
        <table>
            <tr>
                <td>
                    <h3>
                        {{ titlee }}
                    </h3>
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    {{ predateE }}
                </td>
            </tr>
            <tr>
                <td>{{ submitdate }}</td>
            </tr>
            <tr>
                <td>{{ presenterorgc }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ tagenturlc }}" style="color: skyblue;" target="_blank">{{ tagenturlc }}</a>
                </td>
            </tr>
            <!-- <tr>
                <td>{{ progtimec }}</td>
            </tr> -->
            <tr>
                <td>
                    <a href="{{ href }}" style="color: skyblue;" target="_blank">{{ href }}</a>
                </td>
            </tr>
        </table>
    </pre>