    
<script type="text/javascript">
    function info_html_gen(argument) {
        document.write(`
            <tr>
                <td>`+argument+`</td>
            </tr>`);
    }
    function ihg(argument) {
        info_html_gen(argument);
    }
</script>
    <pre style="background-color: transparent;">
        <table>
            <tr>
                <td>
                    <h3>
                        {{ titlee }}
                    </h3>
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    {{ predateE }}
                </td>
            </tr>
            <tr>
                <td>{{ submitdate }}</td>
            </tr>
            <tr>
                <td>{{ presenterorgc }}</td>
            </tr>
<script type="text/javascript">
      ihg("{{pricee}}");
      ihg("{{remarkc}}");
      ihg("{{remarke}}");
      ihg("{{enquiry}}");
</script>
            <tr>
                <td>
                    <a href="{{ tagenturlc }}" style="color: skyblue;" target="_blank">{{ tagenturlc }}</a>
                </td>
            </tr>
            <!-- <tr>
                <td>{{ progtimec }}</td>
            </tr> -->
            <tr>
                <td>
                    <a href="{{ href }}" style="color: skyblue;" target="_blank">{{ href }}</a>
                </td>
            </tr>
            <tr>
                <td><!-- class="facebook" -->
                    <ul style="list-style: none;">
              <li style="padding-left: 15px; padding-right: 15px; padding-top: 15px; float: left;">
                <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-share-button" data-href="http://www.lcsd.gov.hk/tc/index.html" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.lcsd.gov.hk%2Ftc%2Findex.html&amp;src=sdkpreparse">分享</a></div>
              </li>

              <!-- Twitter -->
              <li class="twitter" style="padding-left: 15px; padding-right: 15px; padding-top: 15px; float: left;">
                <a href="https://twitter.com/share?ref_src={{ share_url }}" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
         
              <li class="googleplus" style="padding-left: 15px; padding-right: 15px; padding-top: 15px; float: left;">
                  <script src="https://apis.google.com/js/platform.js" async defer></script>
                <g:plus action="share"></g:plus>
              </li>
          </ul></td>
            </tr>
        </table>
    </pre>